body{

  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;
  font-weight: 800;


}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;


}

h1{
width:30%;
margin: 0 auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 4.612em;



}
.head2{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;


}

h3{
  color: #11999E;

}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
  width: 50% 100px;
  margin: 50px auto;


}

.mind{
  width:90px;
  float: left;
  margin-right: 10px;
  margin-left: 210px;
  padding-top:60px;
}

.code{
  width:90px;
  float: right;
  margin-left: 10px;
  margin-right:210px ;
  padding-top: 60px;

}

hr{
  color:grey;
  border-style: dotted;
  border-width: 10px 0 0;
  width:  8%;
  margin-top: 30px;
  padding-top: 50px;
}

.bottom-container{
  background-color:#66BFBF;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom:50px;
  color:#EAF6F6;
}


p{
  width: 50%;
  margin:auto;
}

.footer-link{
  color: #11999E;
  padding:0px 30px;
  text-decoration: none;
}
.footer-link:hover{
  color: white;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me{
  padding-bottom: 40px;
}

.profilepic{
  width:200px;
  padding:30px 20px 10px 20px;
  border-radius: 100%;

}
